<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->

    <!-- Styles -->
    <link rel="stylesheet" href="{{assets}}/styles/main.css">

    <!-- Scripts -->
    <script src="{{assets}}/scripts/lib/modernizr.min.js"></script>
  </head>
  <body>
    {{> body}}

    <!-- Scripts -->
    <script src="{{assets}}/scripts/lib/jquery.min.js"></script>
    <script src="{{assets}}/scripts/vendor/min/plugins.js"></script>
    <script src="{{assets}}/scripts/min/global.js"></script>
  </body>
</html>
